h1{
  text-align: center;


}
.brand{
  font-size: 30px;
  padding-right: 900px;

}

option{
  .completed{
    background-image:url('/images/completed.png');
  }
  .progress{
    background-image: url('/images/inprogress.png');

  }
  .ice{
    background-image: url('/images/on_ice.png');
  }






}