.bucket-lists{

  li{
    padding:50px;
  }
  .item-name{
    padding-right: 20%;


  }







}
.bucket-lists{

  li{
    padding:50px;
    border: solid;
    margin-bottom: 10px;
  }
  .item-name{
    padding-right: 20%;

  }
  .item-image{
    padding-right: 20%;
  }




}