<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">

    <title>Bucketlist</title>

</head>
<body>
<div class="container">
    <div>
        <nav class="navbar navbar-default">

            <div class="container-fluid">
                <div class="navbar-header">
                    <h1 class="navbar-brand" style="font-size: 25px">Bucketlist</h1>


                </div>

                <div></div>
                <div style="float:right;margin-top: 15px;padding:10px"><a href="{{ url_for('create_bucket_list') }}"
                                                                          data-toggle="modal"
                                                                          data-target="#create-bucket"><img
                        src="../static/images/create.png"></a></div>

                </a>
                <div style="float: right;margin-top: 15px;padding: 10px">
                    <img src="../static/images/logout.png"/></div>


            </div>


        </nav>
    </div>


</div>
<hr/>

<div class="jumbotron" style="text-align: center">
    <h1>All of your bucket lists</h1>
</div>


<div class="container">

    {% for bucket in buckets %}

        <div class="row">

            <div class="col-md-1"><h2>{{ loop.index }}</h2></div>
            <div class="col-md-5">
                <a href={{ loop.index }} {% set list_index = loop.index %}>
                    <h2>{{ bucket[0] }}
                    </h2>

                </a>
            </div>
            <div class="col-md-2">
                <a href="/remove/{{ loop.index }}">
                    <button class="btn btn-danger btn-md">Delete</button>
                </a>

            </div>
            <div class="col-md-2">
                <a href="/update/{{ list_index }}"
                   data-toggle="modal"
                   data-target="#update-bucket" id="edit-link" data-bucket-id={{ loop.index }}>
                    <button class="btn btn-primary btn-md"> Edit</button>
                </a>


            </div>
            <div class="col-md-2">{{ bucket[1] }}</div>


        </div>


    {% endfor %}


</div>

<div id="create-bucket" class="modal modal-body  modal-dialog"
     style="background: white;height: 40%;position: absolute;overflow-y: hidden">
    <div class="modal-header" style="text-align: center;font-size: 20px">Create bucket list</div>
    <div class="modal-body">
        <form method="POST" action="/bucket">

            <div class="row" style="margin-left:30%">{{ form.bucket_name(size=30) }}</div>
            <div class="row" style="margin-bottom: 20px;margin-left: 45%"><input type="submit" value="Create"/></div>


        </form>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn btn-default btn-sm">Close</button>
    </div>

</div>
<div id="update-bucket" class="modal modal-body  modal-dialog"
     style="background: white;height: 40%;position: absolute;overflow-y: hidden">
    <div class="modal-header" style="text-align: center;font-size: 20px">Update bucket list</div>
    <div class="modal-body">
        <form method="POST" action="">

            <div class="row" style="margin-left:30%">{{ u_form.bucket(size=30) }}</div>
            <div class="row" style="margin-left:30%">{{ u_form.completion_status }}</div>

            <div class="row" style="margin-bottom: 20px;margin-left: 45%"><input type="submit"
                                                                                 value="Update"/>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn btn-default btn-sm">Close</button>
    </div>

</div>

<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<script type="text/javascript">


    $(function () {
        $(document).on('click', '#edit-link', function (event) {
            event.preventDefault();
            var action_path = '/update/' + $(this).attr('data-bucket-id');
            console.log(action_path);
            $('#update-bucket form').attr('action', action_path);
            $('#update-bucket').modal('show');
        });
    });

</script>


</body>
</html>