.header{

  padding: 10px;
  top:0;

  a{
    text-decoration: none;
    color: #0f0f0f;
  }
  ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 10px;
   }
  li{
    float: left;
    padding: 10px;



  }





}