.main {

  padding: 10px;

  .main-page-item {
    display: inline-block;
    margin-left: 10px;

  }
  .signup-container {
    width:40%;
    float: right;

    input {
      display: block;
      margin-top:.75em;
      margin-bottom:.75em;
    }
    .text{
      width: 100%;
    }



  }

  .carousel-container{

    width: 60%;

  }

}

